/.claude
/10.1177_02783649231198900-fig18.jpg
/1756901241381
/1756902738851
/1756903296089
/1756903822655
/1761275379712
/1761275393868
/1761276175093
/1761276185381
/1911EIT
/1911EIT603
/2404.07126v1.pdf
/25 Sachin Patel_DPEFPE619_PracticalAssessment.docx
/345
/345_CONTROL_DESIGN_REPORT.docx
/400-1 zotero lib
/413 printout.docx
/619_group_GANTTandPERT.gan
/AcademicHistory-11538872-26_Jul_2025.pdf
/Adobe Acrobat.lnk
/airbus cover letter.docx
/Airbus_cover_letter.pdf
/Arrow_energy_coverletter.pdf
/Arrow_energy_CV.pdf
/ARUPCover letter.pdf
/Balancing real-time scalability and accuracy of  deformable medical.pptx
/Boeing_Cover_Letter.pdf
/Brooks_LAS_SHREELPATEL_COVERLETTER.pdf
/Capgemini_cover_letter.pdf
/CENTBRAKE.bin
/CENTBRAKE.glb
/CENTBRAKE.gltf
/code-ethics-guidelines-professional-conduct-2022.pdf
/computer vision to Characterise Epilepsy Semiology.pdf
/contract
/DAD linkedin PFP.jpg
/davinci.jpg
/DEE57_DCSBME604_WRITTEN_ASSESSMENT_PAPER_B_V1_SACHIN_PATEL_MARKED_CORRECTED.docx
/DEE_DCSBME604_final_sub.docx
/DEE_DCSBME604_WrittenAssessment_PaperB_STUDENTS_v1.pdf
/DEE_DEEECS602_PracticalAssessment_SACHIN_PATEL.pdf
/DEE_DEEECS602_WrittenAssessment_STUDENTS_v1.1_SACHIN_PATEL.pdf
/deformable_plant_sim_testing_use.csv
/deformable_plant_sim_testing_use.xlsx
/Deloitte Cover letter.pdf
/desktop.ini
/egb345_design.asv
/egb345_design.m
/EGB345_SERVO_MOTOR_SYSTEM_IDENTIFICATION _SHREEL_PATEL_n11538872.docx
/EGB345_syst_ID_task
/EGH400-1.bib
/egh400-1ppt.pptx
/EGH404_ASSESSMENT2.docx
/EGH404_recorded_presentation.mp4
/fastpole.jpg
/gantt.png
/GHD_cover_letter.pdf
/GitHub Desktop.lnk
/Goodnotes.lnk
/Implementing Sustainability-Principles and Practice.pdf
/lead.jpg
/Lunar Client.lnk
/Marvel Rivals.url
/MIPAC_cover_letter.pdf
/PCB_CENT_BRAKE.step
/PERT.png
/Pixii Cover Letter.pdf
/Powerlink Cover letter.pdf
/Progress report.docx
/Progress report.pdf
/R6 Tracker.lnk
/rand games
/real to sim transfer statement.docx
/real to sim transfer statement.pdf
/Requirement analysis.docx
/Rheinmetall Cover letter.pdf
/rizzolisa.jpg
/Roblox Player.lnk
/Roblox Studio.lnk
/ROOMIE.bat
/root1.jpg
/Shreel_Patel_Resume.pdf
/Shreel__Patel_resume.pdf
/Shreel___Patel_Resume.pdf
/Siemens Cover Letter.pdf
/signature.jpg
/slowpole.jpg
/Splitgate 2.url
/Stantec cover letter.docx
/Stantec cover letter.pdf
/trav.gif
/uni apps
/Uni drafts ect
/WBS.xlsx
/_The Art of Electronics 3rd ed [2015].pdf
/~$B220 Final Report n11538872.docx
/~$B420 Assessment 1 Q1.docx
/~$Balancing real-time scalability and accuracy of  deformable medical.pptx
/~$E57_DCSBME604_WRITTEN_ASSESSMENT_PAPER_B_V1_SACHIN_PATEL_MARKED_CORRECTED.docx
/~$eoretical Algorithm Analysis.docx
/~$gorithm design.docx
/~$H404_ASSESSMENT2.docx
/~$ogress report.docx
/~$WBS.xlsx
/~WRL0548.tmp
/~WRL3069.tmp
/~WRL3369.tmp
/~WRL3404.tmp